{% extends '@ezdesign/pagelayout.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{ encore_entry_link_tags('welcome_page') }}
{% endblock %}

{% block content %}
    <header>
        <div class="container-fluid container--wide">
            <div class="row">
                <div class="col-12">
                    <div class="py-4">
                        <img src="{{ asset('bundles/ezplatformadminui/img/ibexa-logo.svg') }}" alt="Ibexa" class="logo">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="page pb-4">
        <div class="container-fluid background-grey pb-3">
            <div class="row py-3">
                <div class="col-12 py-3">
                    <div class="container text-center description">
                        <h1>{{ ez_render_field(content, 'name') }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ render(controller('App\\Controller\\ProductReviewController::renderReviews', {
                        'locationId': location.id
                    })) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

